<!DOCTYPE html>
<html>
<head>
    <title>재고 관리 프로그램</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">

    <!--dropdown-->
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <!--datepicker-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
    <script type='text/javascript'
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/js/javascript.js"></script>
    <!--tablesorter-->
    <script src="/static/js/jquery.tablesorter.min.js"></script>
    <script>
        $(document).ready(function () {
            //전체 버튼
            $("#entireButton").on("click", function () {
                $('td:nth-child(7):empty').parent().show();
                $('td:nth-child(7):parent').parent().show();
                $('tr:nth-child(even)').css({"background": "white"});
                $("tr:visible").each(function (index) {
                    $(this).css("background-color", !!(index & 1) ? "rgba(0,0,0,.05)" : "rgba(0,0,0,0)");
                });
            });
            //재고 버튼
            $("#currentButton").on("click", function () {
                $('td:nth-child(7):parent').parent().hide();
                $('td:nth-child(7):empty').parent().show();
                $('tr:nth-child(even)').css({"background": "white"});
                $("tr:visible").each(function (index) {
                    $(this).css("background-color", !!(index & 1) ? "rgba(0,0,0,.05)" : "rgba(0,0,0,0)");
                });
            });
            //출고 버튼
            $("#releasedButton").on("click", function () {
                $('td:nth-child(7):empty').parent().hide();
                $('td:nth-child(7):parent').parent().show();
                $('tr:nth-child(even)').css({"background": "white"});
                $("tr:visible").each(function (index) {
                    $(this).css("background-color", !!(index & 1) ? "rgba(0,0,0,.05)" : "rgba(0,0,0,0)");
                });
            });

        });
    </script>
    <!-- 테이블 수정시 표시 -->
    <script>
        $(document).ready(function () {
            $(document).on("dblclick", ".editable", function () {
                var value = $(this).text();
                var input = "<input type='text' class='input-data' value='" + value + "' class='form-control' >";
                $(this).html(input);
                $(this).removeClass("editable");
                $(this).change().css("background", "red");
            });
            $(document).on("blur", ".input-data", function () {
                var value = $(this).val();
                var td = $(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable")
            });
            $(document).on("keypress", ".input-data", function (e) {
                var key = e.which;
                if (key == 13) {
                    var value = $(this).val();
                    var td = $(this).parent("td");
                    $(this).remove();
                    td.html(value);
                    td.addClass("editable");
                }

            });
        });
    </script>
</head>
<body>
<!--세션유무확인-->
{% if not session["userid"] %}
    <script>
        alert("로그인이 필요합니다")
        location.href = "/"
    </script>
{% endif %}

<!--worker계정일때 거부-->
{% if session["userid"] == "worker" %}
    <script>
        alert("worker계정으로는 해당 페이지에 접근할 수 없습니다.")
        location.href = "/"
    </script>
{% endif %}

<nav class="navbar navbar-expand-md navbar-light border-bottom navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                
                <li class="nav-item">
                    <a class="nav-link" href="dailylist">당일 조회</a>
                </li>
                <li class="nav-item">
                    <a class="current-page-text nav-link" href="inventory">전체 조회</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="inventoryPayment">재고수불부</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="report">일자별 수불</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        데이터 설정
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item nav-dropdown-item" href="addMIP">MIP 추가</a></li>
                        <li><a class="dropdown-item nav-dropdown-item" href="setInvalidEngine">불량 엔진 추가</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <button type="button" onclick="location.href='/refresh'" class="reload-btn">
                <img src="/static/assets/img/reload.png" alt="새로고침">
            </button>
            <button class="logout-btn" onclick="location.href='/logout'">log out</button>
        </div>
    </div>
</nav>

<!--datepicker-->
<form action="/inventory" class="datepicker-calendar-container my-3" method="post" style="min-width: 1200px;">
    <div class="d-flex flex-wrap my-2">
        <div class="input-group date datepicker-calendar">
            <input name="startdate" type="text" class="form-control" value="{{ startdate }}" id="startDatepicker"
                   autocomplete='off' placeholder="ex) 2022-01-01">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </div>
        <span>~</span>
        <div class="input-group date datepicker-calendar">
            <input name="enddate" type="text" class="form-control" value="{{ enddate }}" id="endDatepicker"
                   autocomplete='off' placeholder="ex) 2022-12-31">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </div>
        <button type="submit" class="datepicker-btn" onclick="return CheckDate()">조회</button>
        <div class="searchFilter d-flex" style="margin-left : auto; margin-right: 10px;">
            <input class="datepicker-btn mx-2" id="filter0" type="text" placeholder="기종"
                   style="width:90px;"/>
            <input class="datepicker-btn mx-2" id="filter1" type="text" placeholder="MIP"
                   style="width:90px;"/>
            <input class="datepicker-btn mx-2" id="filter2" type="text" placeholder="EID"
                   style="width:90px;"/>
        </div>
        <div class="d-flex" style="margin-left : auto; margin-right: 10px;">
            <input class="datepicker-btn mx-2 table-btn" id="entireButton" type="button" value="전체"/>
            <input class="datepicker-btn mx-2 table-btn" id="currentButton" type="button" value="재고"/>
            <input class="datepicker-btn mx-2 table-btn" id="releasedButton" type="button" value="출고"/>
        </div>
    </div>
</form>

<div class="m-4">
    <div class="inventory-table-container">
        <table id="filter" class="table inventory-table table-bordered table-hover">
            <thead>
            <th col-index=1 scope="col">번호</th>
            <th col-index=2 scope="col">
                <select class="table-filter" onchange="filter_rows()">
                    <option value="all">기종</option>
                </select>
            </th>
            <th col-index=3 scope="col">
                <select class="table-filter" onchange="filter_rows()">
                    <option value="all">MIP</option>
                </select>
            </th>
            <th col-index=4 scope="col">EID</th>
            <th col-index=5 scope="col">입고일</th>
            <th col-index=6 scope="col">포장일</th>
            <th col-index=7 scope="col">출고일</th>
            <th col-index=8 scope="col">출고exp</th>
            <th col-index=9 scope="col">groupID</th>
            <th col-index=10 scope="col">위치</th>
            <th col-index=11 scope="col">상태</th>
            <th col-index=12 scope="col">
                <select class="table-filter" onchange="filter_rows()">
                    <option value="all">비고</option>
                </select>
            </th>
            </thead>
            <tbody>
            {% for a in excelList %}
                <tr>
                    <th scope="row"></th>
                    {% for b in a %}

                        {% if session["userid"] == "manager" %}
                            <td class="editable">{{ b }}</td>
                        {% endif %}

                        {% if session["userid"] == "user" %}
                            <td contenteditable="false">{{ b }}</td>
                        {% endif %}

                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type='text/javascript'>
    $(function () {
        $('.input-group.date').datepicker({
            calendarWeeks: false,
            todayHighlight: true,
            autoclose: true,
            format: "yyyy-mm-dd",
            language: "kr",
            endDate: '0d',
            disableTouchKeyboard: false
        });
    });
</script>

<script>
    window.onload = () => {
        console.log(document.querySelector("#filter > tbody > tr:nth-child(1) > td:nth-child(2) ").innerHTML);
    };
    getUniqueValuesFromColumn()
</script>

<script>
    $(document).ready(function () {
        $("#filter").tablesorter();
    });
</script>

<script>
    var div2 = document.getElementsByClassName("table-btn");

    function handleClick(event) {
        console.log(event.target);
        // console.log(this);
        // 콘솔창을 보면 둘다 동일한 값이 나온다

        console.log(event.target.classList);

        if (event.target.classList[1] === "clicked") {
            event.target.classList.remove("clicked");
        } else {
            for (var i = 0; i < div2.length; i++) {
                div2[i].classList.remove("clicked");
            }

            event.target.classList.add("clicked");
        }
      }

        function init() {
          for (var i = 0; i < div2.length; i++) {
            div2[i].addEventListener("click", handleClick);
          }
        }

        init();
</script>

<script src="/static/js/TableFilter.min.js" defer></script>
</body>
</html>
