<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>재고관리시스템</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/static/css/style.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <script type="text/javascript">
        function caps_lock(e) {
            var keyCode = 0;
            var shiftKey = false;
            keyCode = e.keyCode;
            shiftKey = e.shiftKey;
            if (((keyCode >= 65 && keyCode <= 90) && !shiftKey)
                || ((keyCode >= 97 && keyCode <= 122) && shiftKey)) {
                show_caps_lock();
                setTimeout("hide_caps_lock()", 3500);
            } else {
                hide_caps_lock();
            }
        }

        function show_caps_lock() {
            $("#capslock").show();
        }

        function hide_caps_lock() {
            $("#capslock").hide();
        }
    </script>
</head>
<main>
    <!-- flash표시를 위한 코드 -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script type="text/javascript">
                alert("{{messages[-1]}}");
            </script>
        {% endif %}
    {% endwith %}

    <!-- worker계정으로 접속했을때 -->
    {% if session["userid"] ==  "worker" %}
        <script>
            location.href = "/dailylist_worker"
        </script>
    {% endif %}

    <!-- manager계정 또는 user계정으로 접속했을때 -->
    {% if session["userid"] == "manager" or session["userid"] == "user" %}
        <script>
            location.href = "/inventory"
        </script>
    {% endif %}

    <section class="vh-100">
        <div class="login-container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col login-card-wrapper">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="d-flex align-items-center">
                            <div class="card-body p-lg-5 text-black">
                                <form method="post">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0"> 재고 관리 시스템</span>
                                    </div>
                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">로그인</h5>

                                    <div class="form-outline mb-4">
                                        <input type="text" id="id" name="id" class="form-control form-control-lg"/>
                                        <label class="form-label" for="form2Example17">ID</label>
                                    </div>
                                    <div class="form-outline mb-4 position-relative">
                                        <input type="password" id="pwd" name="pwd"
                                               class="form-control form-control-lg" onkeypress="caps_lock(event)"/>
                                        <p id="capslock" class="login_capslock_box">
                                            &nbsp;<b>CapsLock</b> 키가 눌려있습니다.&nbsp;
                                        </p>
                                        <label class="form-label" for="form2Example27">Password</label>
                                    </div>
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                                        <a href = "javascript:window.history.back();" class="btn btn-primary btn-lg btn-block" type="button">Back</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>