<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>재고 관리 프로그램</title>

    <link href="/static/css/style.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            /**
             * 출고exp,groupID,위치,상태 hide()
             */
            $("#hidden_col").ready(function () {
                //  $('td:nth-child(7), th:nth-child(7)').hide();
                $('td:nth-child(7):parent').parent().hide();
                $('td:nth-child(8), th:nth-child(8)').hide();
                $('td:nth-child(9), th:nth-child(9)').hide();
                $('td:nth-child(10), th:nth-child(10)').hide();
                $('td:nth-child(11), th:nth-child(11)').hide();
            })
            /**
             * 입고, 출고 관계없이 전체 조회
             */
            $("#entireButton").on("click", function () {
                $('td:nth-child(7):empty').parent().show();
                $('td:nth-child(7):parent').parent().show();
            });
            /**
             * 현재 재고 중에서 조회
             */
            $("#currentButton").on("click", function () {
                $('td:nth-child(7):parent').parent().hide();
                $('td:nth-child(7):empty').parent().show();
            });

        });

    </script>
</head>
<body>
<!--세션유무확인-->
{% if not session["userid"] %}
    <script>
        alert("로그인이 필요합니다")
        location.href = "/"
    </script>
{% endif %}

<!--관리자세션확인-->
{% if session["userid"] != 'manager' %}
    <script>
        alert("해당페이지는 관리자만 접근가능합니다.")
        location.href = "/"
    </script>
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script type="text/javascript">
            alert("{{messages[0]}}");
        </script>
    {% endif %}
{% endwith %}
<script>
    i = 1;
    const add_input = () => {

        tmp = "ENG[" + i + "]";
        const inputData = document.getElementById("inputData");
        newDiv = document.createElement("div");
        newDiv2 = document.createElement("div");
        newDiv.innerHTML = `<input type="text" name="ENG[]" id="${tmp}" placeholder="" autofocus><label class="form-label" for="${tmp}"> 엔진을 입력해주세요</label>`;
        inputData.appendChild(newDiv)
        tmp = "EXP[" + i + "]";
        newDiv2.innerHTML = `<input type="text" name="EXP[]" id="${tmp}" placeholder="" autofocus><label class="form-label" for="${tmp}"> 사유를 입력해주세요</label>`;
        inputData.appendChild(newDiv2)
        i = i + 1
    }
</script>
<!--login.html 에서 nav bar 제거 및 login section 높이 수정-->
<main>
    <nav class="navbar navbar-expand-md navbar-light border-bottom navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">메인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dailylist">당일 조회</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="inventory">전체 조회</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="inventoryPayment">재고수불부</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="report">일자별 수불</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="current-page-text  nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink"
                           role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            데이터 설정
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item nav-dropdown-item" href="addMIP">MIP 추가</a></li>
                            <li><a class="dropdown-item nav-dropdown-item" href="setInvalidEngine">불량 엔진 추가</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <button type="button" onclick="location.href='/refresh'" class="reload-btn">
                    <img src="/static/assets/img/reload.png" alt="새로고침">
                </button>
                <button class="logout-btn" onclick="location.href='/logout'">log out</button>
            </div>
        </div>
    </nav>
    <section class="m-5">
        <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-md-5">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="d-flex align-items-center">
                            <div class="card-body p-sm-4 text-black m-3">

                                <form action="/setInvalidEngine" method="post">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <!--    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i> -->
                                        <span class="h1 fw-bold mb-0">불량 엔진 추가</span>
                                    </div>
                                    <!-- 추가 버튼
                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="button" onclick="add_input()">추가</button>
                                        </div>
                                    -->
                                    <div id="inputData">
                                        <div class="mb-3">
                                            <input type="text" name="ENG[]" id="ENG[0]"
                                                   class="form-control form-control-sm"
                                                   placeholder="ex) 259717" size=45 maxlength=6 autofocus>
                                            <label class="form-label data-setting-comment" for="mip">엔진을 입력해주세요</label>
                                        </div>
                                        <div class="mb-2">
                                            <input type="text" name="EXP[]" id="EXP[0]"
                                                   class="form-control form-control-sm"
                                                   placeholder="ex) 엔진 파손" size=45 autofocus>
                                            <label class="form-label data-setting-comment" for="mip">사유를 입력해주세요</label>
                                        </div>
                                    </div>
                                    <!--<a class="small text-muted" href="#!">abc</a>-->
                                    <div class="mb-3">
                                        <button class="btn btn-dark btn-lg btn-block data-setting-btn-block"
                                                type="submit"
                                                onclick="errorAlert()">저장
                                        </button>
                                    </div>
                                </form>
                                </form>
                                <div class="mb-2">
                                    <button class="btn btn-dark btn-lg btn-block data-setting-btn-block" type="button"
                                            onclick="location.href='/main'">홈화면
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="invalid-table-nav d-flex my-3">
        <div>
            <span class="invalid-table-amount">amount: {{ errorMount }}</span>
        </div>
        <div class="d-flex">
            <input class="invalid-table-btn datepicker-btn mx-2" id="entireButton" type="button" value="전체"/>
            <input class="invalid-table-btn datepicker-btn mx-2" id="currentButton" type="button" value="재고"/>
        </div>

    </div>
    <div>
        <table class="table invalid-table table-bordered table-striped table-hover">
            <thead>
            <th>번호</th>
            <th>기종</th>
            <th>MIP</th>
            <th>EID</th>
            <th>입고일</th>
            <th>포장일</th>
            <th id="hidden_col">출고일</th>
            <th id="hidden_col">출고exp</th>
            <th id="hidden_col">Group</th>
            <th id="hidden_col">위치</th>
            <th id="hidden_col">상태</th>
            <th>비고</th>
            </thead>
            <tbody>
            {% for a in curErrorList %}
                <tr>
                    <th scope="row"></th>
                    {% for b in a %}
                        <td>{{ b }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</body>
</html>